@model Movie

@{
    ViewData["Title"] = "Delete Movie";
}

<p>Are you sure?</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Html.DisplayFor(x => x.Title)</td>
                <td>@Html.DisplayFor(x => x.Genre)</td>
                <td>@Html.DisplayFor(x => x.ReleaseDate)</td>
                <td>
                </td>
            </tr>
    </tbody>
</table>

    <form asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" >Back</a>
        <input type="submit" value="Confirm" />
    </form>